<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MultiPlex.Web-20150924015035.mdf;Initial Catalog=aspnet-MultiPlex-20150924015035;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>