
@{
    ViewBag.Title = "Edit Wiki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Wiki</h2>

<table class="table">
    <tr>
        
@{

    var wikiname = Request.QueryString.Get("id");

   <td> @Html.ActionLink("Basic Info","EditBasicInfo", new { id=wikiname })</td>    
   @*<td> @Html.ActionLink("Categories","ListCategories", new { id = wikiname })</td>*@
   <td> @Html.ActionLink("Titles", "ListWikiTitles", new { wikiname = wikiname })</td>
}

</tr>

</table>
